*{
    margin:0px;
    padding:0px;
}
/* .main{
    display:flex;
} */
.main1{
    display:flex;
    margin-top:10px;
    margin-left:50px;
}
.main2{
    display:flex;
    margin-top:20px;
    margin-left:50px;
}
label{
    margin-top: 5px;
    font-weight: bold;
    /* margin-left: 65px; */
    text-align: center;
  }
  .select{
    width:150px;
    margin-left: 5px;
    min-height:40px;
  }
.siteid{
    display:flex;
    margin-left:10px;
    flex-direction: column;
}
.selectfield{
    width:150px;
    margin-left: 20px;
   min-height:40px;
}


#input{
    width:150px;
    height:30px;
    margin-left: 20px;
}
label{
     margin-left:20px; 
     }
.sitename{
    display:flex;
   flex-direction: column;
    
}

.qca{
    display:flex;
    flex-direction: column;
}
.planttype{
    display: flex;
    flex-direction: column;
}
.scada{
    display: flex;
    flex-direction: column;
}
.capacity{
    display: flex;
    flex-direction: column;
}
.state1{
    display: flex;
    flex-direction: column;
}
.typeof{
    display:flex;
    flex-direction: column;
}
.transmissionunit{
    display:flex;
    flex-direction: column;
}
.dsm{
    display:flex;
    flex-direction: column;
}
.tariff{
    display:flex; 
    flex-direction: column; 
}
.latitude{
    display:flex; 
    flex-direction: column; 
}

.longitude{
    display:flex; 
    flex-direction: column;
}
select{
    margin-top:30px;
    margin-left:10px;
}
.submitbutton{
   text-align: center;
   /* margin-right: 20px; */
   margin-top: 25px;
   /* margin-left: 30px; */
}
.errorMsg{
    color:red;
}
.vaildation{
    font-size: small;
}
.submitbtn{
    width:200px;
    height:30px;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.togglebtn{
    margin-left: 60px;
    margin-top:50px;
}
.btnclick{
    width:100px;
    height:30px;
    background-color: blue;
    color: blanchedalmond;
    border-radius: 5px;
}