
#regulatory_datepicker_1{

    text-align: center;

    height: 50%

}



#regulatory_submit_button{

    width: 150px;

    height: 40px;
background-color:#056C45;
color:white;
    font-size: medium;

     

 }
