*{
    margin:0px;
    padding:0px;
}
.map{
    margin-left:3rem;
    margin-top:1rem;

}
.mapbtn{
    margin-left:9rem;
    margin-top:1rem;
}
.solar{
   
  border:none;
    width:4rem;
    height:1.5rem;
    background-color:#056C45;
    border-radius: 5px;
    color:white;
    font-size: smaller; 
    font-family: 'Copse', serif;
    
}
.wind{
  border:none;
    margin-left: 10px;
    width:4rem;
    height:1.5rem;
    background-color: #056C45;
    border-radius: 5px;
    color:white;
    font-size: smaller;
    font-family: 'Copse', serif;
    }

.both{
  border:none;
    margin-left: 10px;
    width:4rem;
    height:1.5rem;
    background-color: #056C45;
    border-radius: 5px;
    color:white;
    font-size: smaller;
    font-family: 'Copse', serif;
}
.MapForm{
    display: flex;
    margin-top:0.5rem;
    
} 
.MapForm1{
    display: flex;
    margin-top: 20px;
  
}
label{
    margin-top: 5px;
 
     text-align: center; 
  }


.startdate{
    display: flex;
    flex-direction: column;
     font-family: 'Copse', serif; 
    
}
.enddate{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-family: 'Copse', serif;
    }
   
    .statemaplabel{
        text-align: center;
        margin-left: 7rem;
        font-family: 'Copse', serif;
    }
    .sitenamemap{
        margin-left: 20px;
    }
    .inputmap{
        width:250px;
        margin-left: 10px; 
        height:2rem; 
       
    }
    .selectmap{
        width:255px;
     margin-left: 10px; 
    height:30px;
    font-family: 'Copse', serif; 
    }
    .MapFormBtn{
        margin-left:35%;
        margin-top:30px;
    }

    .mapformbutton{
      border:none;
        background-color: #056C45;
        border-radius:5px;
        width:30%;
        height:30px;
        font-size:15px;
       color:white;
       font-family: 'Copse', serif;
       font-size:medium;
    }
    .mapformtable{
        margin-top: 40px;
        margin-left:10%;
     
    }
 .table1, .th1, .td1 {
        border: 2px solid black;
        border-collapse: collapse;

      }
      .th1{
        background-color: rgb(43, 101, 209); 
        color:white;
        font-family: 'Copse', serif;
      }
      .th1, .td1 {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 10px;
        text-align: center;
        font-family: 'Copse', serif;
        
      }
     
      .formtable{
        text-align: center;
        width:95%;
       
        margin-top: 20px;
        margin-left:2%
      }
     
      .downloadbtn{
        text-align:center;
        margin-top:20px;
        margin-left:2rem;
      }
      .downloadbutton{
        border:none;
        background-color:#056C45;
        border-radius:5px;
        width:200px;
        height:30px;
        font-size:15px;
        color:white;
        font-size:medium;
        font-family: 'Copse', serif;
      }